body {
  background-color: blueviolet;
}

/* The Modal (background) */
.modal {
  display: block; /*nu uita sa il pui block */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: blueviolet; /* Fallback color */
}

/* Modal Content/Box */
.modal-content {
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  justify-content: center;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* text label name */
.labelName {
  font-size: 1.2rem;
  color: aliceblue;
  display: flex; 
}

/* confirmation name button */
.confirmName {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.2rem;
  transition: 100ms;
  padding: 15px;
}

.confirmName:hover {
  transform: scale(1.2);
}
/* End Modal */



/* .results {
  margin-top: 1rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  font-size: 2.2rem;
} */

.options {
  display: inline-flex;  
  flex-direction: column;
  justify-content: start;
}

.option {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 4rem;
  transition: 130ms;
  padding: 30px;
}

.option:hover {
  transform: scale(1.3);
}

.resetButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset {
  background-color: blue;
  color: bisque;
  border-radius: 35%;
  font-size: 1.5rem;
}

.easterEgg {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.bomb {
  opacity: 0.065;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 3rem;
  transition: 130ms;
}

.bomb:hover {
  opacity: 1;
  font-size: 4rem;
}

.gameMechanics {
  display: grid;
  grid-template-columns: 1fr 1fr 0.3fr 1fr;
  align-items: center;
  justify-items: center;
  font-size: 3rem;
}

.displayedOption {
  display: flex;
  justify-content: center;
  padding: 30px;
}

#result {
  color: aliceblue;
  display: flex;
  justify-content: center;
}

/* INFO BUTTON */

.gameInfoModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */ 
}

.info-content {
  background-color: #ee1a1a;
  margin: auto;
  padding: 20px;
  border: 1px solid rgb(182, 19, 197);
  width: 80%;
}

.close {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#infoButton {
  background: none;
  border: none;
  outline:none;
  font-size: 2.5rem;
}