

body {
  background-image: linear-gradient(321deg,#58148f,#ac09c2);}

/* The Modal (background) */
.modal {
  display: block; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-image: linear-gradient(321deg,#58148f,#ac09c2);
}
/* Modal Content/Box */
.modal-content {
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 20% auto; 
  padding: 20px;
  justify-content: center;
  width: 80%; 
}

/* text label name */
.labelName {
  font-size: 1.4rem;
  color: rgb(255, 255, 255);
  display: flex; 
}

/* confirmation name button */
.confirmName {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.3rem;
  transition: 100ms;
  padding: 15px;
}

.confirmName:hover {
  transform: scale(1.2);
}
/* End Modal */


.options {
  display: inline-flex;  
  flex-direction: column;
  justify-content: start;
}

.option {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 4rem;
  transition: 130ms;
  padding: 30px;
}

.option:hover {
  transform: scale(1.3);
}

.resetButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

  .reset, .reset::after {
    width: 200px;
    height: 42px;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    background: linear-gradient(45deg, transparent 5%, #07ba9b 5%);
    color: rgb(255, 255, 255);
    letter-spacing: 3px;
    outline: transparent;
    cursor: pointer;
    border: 0;
    border-radius: 50em;
  }
  
  .reset::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    
    content: 'Reset';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #62dfa4 3%, #775cf3 5%, #be11e0 5%);
    text-shadow: -3px -3px 0px #f3dd61, 3px 3px 0px #4ef594;
    clip-path: var(--slice-0);
  }
  
  .reset:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
  }
  
  @keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }
    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }
    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }
    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 5px);
    }
    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0px);
    }
    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0px);
    }
    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }
    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }
    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }
    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0px);
    }
    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
  }


.easterEgg {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.bomb {
  opacity: 0.065;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 3rem;
  transition: 130ms;
}

.bomb:hover {
  opacity: 1;
  font-size: 4rem;
}

.gameMechanics {
  display: grid;
  grid-template-columns: 1fr 1fr 0.3fr 1fr;
  align-items: center;
  justify-items: center;
  font-size: 3rem;
  height: 70vh;
}

.displayedOption {
  display: flex;
  justify-content: center;
  padding: 30px;
}

#result {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  visibility:hidden
}

/* INFO BUTTON */

.gameInfoModal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.info-content {
  background-color: #000000;
  margin: auto;
  padding: 20px;
  width: 80%;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.close {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#infoButton {
  background: none;
  border: none;
  outline:none;
  font-size: 2.5rem;
  padding: 20px;
  cursor: pointer;
}


@media only screen and (max-width: 600px) {

  .modal {
    background-image: linear-gradient(80deg,#58148f,#ac09c2);  }
  
  .modal-content {
    display: flex;
    align-items: flex-start;
    justify-items: center;
    justify-content: center;
  }
  
  .labelName {
    font-size: 1rem;
    color: rgb(252, 249, 249);
    display: flex;
    text-shadow: 0 0 4px #d4b6ec; 
  }

  .gameMechanics {
    display: flex;
    grid-template-columns: 1fr 1fr 0.3fr 1fr;
    align-items: center;
    font-size: 1.8rem;
    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
  }
  
  .options{
    display: flex;
    flex-direction: row;
  }

  .option {
    font-size: 2.5rem;
    padding: 15px;
  }

  .reset, .reset::after {
    font-family: serif;
    width: 100px;
    height: 30px;
  }
  
  #result {
    font-size: 1.5rem;
    color: #000;
  }

  #infoButton{
    font-size: 1.7rem;
    cursor: pointer;
  }

  .bomb{
    font-size: 2.5rem;
  }

  .bomb:hover {
    font-size: 3rem;
  }
}
